<!doctype html>
<html>
    <head>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/socket.io.js"></script>
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body ng-app="rockBandApp" ng-controller="rockBandController">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" href="#" ng-click="switchToMainPage('home')" ng-class="{active:currentMainPage=='home' || currentMainPage==''}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#" ng-click="switchToMainPage('updates')" ng-class="{active:currentMainPage=='updates'}">Updates</a></li>
            </ul>
            <span class="float-right">
                App Version: {{version.version}}
            </span>
            Status: 
            <span ng-show="deviceInfo.connected">
                Connected to {{(controllerState[0]==0)?"Guitar Adapter":"Drum Adapter"}} - Version: {{controllerState[1]}} <span ng-show="controllerState[0]==0?version.guitarFirmwareVersion>controllerState[1]:version.drumsFirmwareVersion>controllerState[1]"> - Update Available</span>
                <br/>
                <button type="button" ng-click="disconnectFromDevice()">Disconnect</button>
            </span>
            <span ng-show="!deviceInfo.connected">
                Not Connected
            </span>
            <br/>
            <br/>

            <div ng-show="!deviceInfo.connected && (currentMainPage=='home' || currentMainPage=='')">
                Device List: <button type="button" ng-click="refreshDeviceList()" class="float-right">Refresh List</button>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Device</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tr ng-repeat="device in devices.devices">
                        <td>{{device.name}}</td>
                        <td><button type="button" ng-click="connectToDevice(device.name, device.address)">Connect</button></td>
                    </tr>
                </table>
                <br/>
            </div>

            <div ng-show="deviceInfo.connected && controllerState[0]===0 && (currentMainPage=='home' || currentMainPage=='')">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Value</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tr>
                        <td scope="row">Delay</td> 
                        <td><input type="number" ng-model="delay" min=0 max=200 style="text-align: right;"/> ms</td> 
                        <td><button type="button" ng-click="changeDelay()" ng-show="originalDelay!=delay">Change</button></td>
                    </tr>
                    <tr>
                        <td scope="row">Send Controller Status to Console Every </td> 
                        <td><input type="number" ng-model="m1" min=1 max=99 style="text-align: right;"/> ms</td> 
                        <td><button type="button" ng-click="changeM1()" ng-show="originalM1!=m1">Change</button></td>
                    </tr>
                    <tr>
                        <td scope="row">Tilt To Activate</td> 
                        <td>{{controllerState[6]?"Enabled":"Disabled"}}</td> 
                        <td><button type="button" ng-click="changeTilt()">{{!controllerState[6]?"Enable":"Disable"}}</button></td>
                    </tr>
                    <tr>
                        <td scope="row"></td> 
                        <td></td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Green</td> 
                        <td>{{!!controllerState[2][1]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Red</td> 
                        <td>{{!!controllerState[2][2]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Yellow</td> 
                        <td>{{!!controllerState[2][3]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Blue</td> 
                        <td>{{!!controllerState[2][0]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Orange</td> 
                        <td>{{!!controllerState[2][4]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Whammy</td> 
                        <td>{{controllerState[7]||0}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Start</td> 
                        <td>{{!!controllerState[3][1]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Select</td> 
                        <td>{{!!controllerState[3][0]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Up</td> 
                        <td>{{!!controllerState[4][0]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Down</td> 
                        <td>{{!!controllerState[4][2]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Left</td> 
                        <td>{{!!controllerState[4][3]}}</td> 
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Right</td> 
                        <td>{{!!controllerState[4][1]}}</td> 
                        <td></td>
                    </tr>
                </table>
            </div>

            <div ng-show="deviceInfo.connected && controllerState[0]==1 && (currentMainPage=='home' || currentMainPage=='')">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link" href="#" ng-click="switchToPage('midiNumbers')" ng-class="{active:currentPage=='midiNumbers' || currentPage==''}">Live MIDI Input</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" ng-click="switchToPage('currentMidiNumbers')" ng-class="{active:currentPage=='currentMidiNumbers'}">MIDI Numbers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" ng-click="switchToPage('debugInfo')" ng-class="{active:currentPage=='debugInfo'}">Debug Info</a></li>
                </ul>
                <span ng-show="currentPage=='midiNumbers' || currentPage==''">
                    <br/>
                    <h3>Notes played on drums will show up here</h3>
                    <br/>
                    Maximum Amount of Previous Notes to keep: <input type="number" ng-model="maxPreviousNotesLength" min=0 max=1000/>
                    <br/>
                    <br/>
                    Previous Notes:
                    <br/>
                    <button type="button" ng-click="resetPreviousNotes()" class="float-right">Reset</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">MIDI Number</th>
                                <th scope="col">Sensitivity</th>
                                <th scope="col">RB Note</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="note in previousNotes|orderBy:'-'">
                                <td>{{note.note}}</td> <td>{{note.sensitivity}}</td> <td>{{rbNoteToString(note.rbNote)}}</td>
                        </tr>
                    </table>
                </span>
                <span ng-show="currentPage=='currentMidiNumbers'">
                        <br/>
                        <h3>These are the current list of MIDI values used by the adapter</h3>
                        <br/>
                        The default MIDI numbers cannot be changed. You can modify the last number. Click Record and then hit a drum pad to instantly change the last number to the number of the pad. Click Reset to instantly reset the current number to 0.
                        <br/>
                        <span ng-show="midiToRecord">Currently Recording {{midiToRecordString}} <button type="button" ng-click="cancelRecord()">Cancel</button></span>
                        <br/>
                        <button type="button" ng-click="resetAllMIDI()">Reset All</button>
                        <br/>
                        <br/>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Note</th>
                                    <th scope="col">Midi Numbers</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="drumNote in drumNoteInfo">
                                <th scope="row">{{drumNote.name}}</th>
                                <td>{{drumNote.notes}}, <input type="number" ng-model="controllerState[$index+9]" min=0 max=127></td>
                                <td><button ng-show="oldMidiNumbers[$index]!=controllerState[$index+9]" ng-click="changeMIDI($index)">Change</button></td>
                                <td><button ng-click="recordMIDI($index, drumNote.name)">Record</button></td>
                                <td><button ng-click="resetMIDI($index)">Reset</button></td>
                            </tr>
                        </table>
                    </span>
                <span ng-show="currentPage=='debugInfo'">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Value</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Threshold</th>
                                <td><input type="number" ng-model="threshold" min=1 max=127/></td>
                                <td><button type="button" ng-click="changeThreshold()" ng-show="originalThreshold!=threshold">Change</button></td>
                            </tr>
                            <tr>
                                <th scope="row">Minimum Delay Presets</th>
                                <td><button type="button" ng-click="changeMinDelayPreset('RB4')">RB4</button></td>
                                <td><button type="button" ng-click="changeMinDelayPreset('RB3')">RB3</button></td>
                            </tr>
                            <tr>
                                <th scope="row">Minimum Delay Between Notes</th>
                                <td><input type="number" ng-model="mil1" min=1 max=99/> ms</td>
                                <td><button type="button" ng-click="changeMil1()" ng-show="originalMil1!=mil1">Change</button></td>
                            </tr>
                            <tr>
                                <th scope="row">Minimum Delay Before All Buttons Up</th>
                                <td><input type="number" ng-model="mil2" min=1 max=99/> ms</td>
                                <td><button type="button" ng-click="changeMil2()" ng-show="originalMil2!=mil2">Change</button></td>
                            </tr>
                            <tr>
                                <th scope="row">Minimum Delay Before Button Up</th>
                                <td><input type="number" ng-model="mil3" min=1 max=99/> ms</td>
                                <td><button type="button" ng-click="changeMil3()" ng-show="originalMil3!=mil3">Change</button></td>
                            </tr>
                            <tr>
                                <th scope="row">Only Send One Note Per Packet</th>
                                <td>{{everyNoteDifferentPacket==69?"Enabled":"Disabled"}}</td>
                                <td><button type="button" ng-click="changeEveryNoteDifferentPacket()">{{everyNoteDifferentPacket==69?"Disable":"Enable"}}</button></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">X</th>
                                <td>{{!!controllerState[2][1] && !controllerState[3][3] && !controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">O</th>
                                <td>{{!!controllerState[2][2] && !controllerState[3][3] && !controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Triangle</th>
                                <td>{{!!controllerState[2][3] && !controllerState[3][3] && !controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Square</th>
                                <td>{{!!controllerState[2][0] && !controllerState[3][3] && !controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">L1</th>
                                <td>{{!!controllerState[2][4] && !controllerState[3][3] && !controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Start</th>
                                <td>{{!!controllerState[3][1]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Up</th>
                                <td>{{!!controllerState[4][0]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Down</th>
                                <td>{{!!controllerState[4][3]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Left</th>
                                <td>{{!!controllerState[4][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Right</th>
                                <td>{{!!controllerState[4][1]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Red Pad</th>
                                <td>{{!!controllerState[2][2] && !!controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Yellow Pad</th>
                                <td>{{!!controllerState[2][3] && !!controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Yellow Cymbal</th>
                                <td>{{!!controllerState[2][3] && !!controllerState[3][3]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Blue Pad</th>
                                <td>{{!!controllerState[2][0] && !!controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Blue Cymbal</th>
                                <td>{{!!controllerState[2][0] && !!controllerState[3][3]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Green Pad</th>
                                <td>{{!!controllerState[2][1] && !!controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Green Cymbal</th>
                                <td>{{!!controllerState[2][1] && !!controllerState[3][3]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Bass</th>
                                <td>{{!!controllerState[2][4] && !!controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Double Bass</th>
                                <td>{{!!controllerState[2][5] && !!controllerState[3][2]}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </div>

            <div ng-show="currentMainPage=='updates'">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">What to Update</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tr>
                            <td>App (Restart app and refresh page after updating)</td> <td><button type="button" ng-click="update('')">Update</button></td>
                    </tr>
                    <thead>
                        <tr>
                            <th scope="col">Advanced - Don't Use unless you know what you're doing</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tr>
                            <td>Initial Adapter Update (Run first time before running Guitar or Drums)</td> <td><button type="button" ng-click="update('Initial')">Update</button></td>
                    </tr>
                    <tr>
                            <td>Guitar</td> <td><button type="button" ng-click="update('GuitarMega')">Update</button></td>
                    </tr>
                    <tr>
                            <td>Drums</td> <td><button type="button" ng-click="update('DrumsMega')">Update</button></td>
                    </tr>
                    <tr>
                            <td>Guitar Alt</td> <td><button type="button" ng-click="update('GuitarAlt')">Update</button></td>
                    </tr>
                    <tr>
                            <td>Drums Alt</td> <td><button type="button" ng-click="update('DrumsAlt')">Update</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>